.react-flow{
  overflow: visible !important;
}

.circle1{
  width: 30px !important;
  height: 30px !important;
  border-radius: 50% !important;
  display:flex !important;
  justify-content: center !important;
  align-items: center !important;
  cursor: pointer !important;
}

.circle1:first-child{
  border-color: green;
  color: green;
}

.square{
  border: 1px solid #ccc !important;
  width:150px !important;
  height: 80px !important;
  background: #f7f7f7 !important;
  border-radius: 5px !important;
  cursor: default !important;
}

.horizontal-e1-2 > .react-flow__edge-path{
  stroke: blue !important;
}

.react-flow__handle{
  background: transparent !important;
  width: 0 !important;
  height: 0 !important;
}
